<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Blog Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Add Blog Post</h1>
<div class="container">
<form method="POST" action="/add">
    <label for="author">Username:</label><br>
    <input type="text" id="author" name="author"><br>
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="content">Content:</label><br>
    <input type="text" id="content" name="content"><br>
    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>